<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinaredstar.cms.mapper.CmsCampaignMarketMapper">
  <resultMap id="BaseResultMap" type="com.chinaredstar.cms.api.model.CmsCampaignMarket">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="campaign_id" jdbcType="INTEGER" property="campaignId" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
  </resultMap>
  <sql id="Base_Column_List">
    id, campaign_id, market_id, create_time, creator_id, creator, sequence
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_campaign_market
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_campaign_market
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chinaredstar.cms.api.model.CmsCampaignMarket">
    insert into cms_campaign_market (id, campaign_id, market_id, 
      create_time, creator_id, creator, 
      sequence)
    values (#{id,jdbcType=INTEGER}, #{campaignId,jdbcType=INTEGER}, #{marketId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chinaredstar.cms.api.model.CmsCampaignMarket">
    insert into cms_campaign_market
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="campaignId != null">
        campaign_id,
      </if>
      <if test="marketId != null">
        market_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="campaignId != null">
        #{campaignId,jdbcType=INTEGER},
      </if>
      <if test="marketId != null">
        #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinaredstar.cms.api.model.CmsCampaignMarket">
    update cms_campaign_market
    <set>
      <if test="campaignId != null">
        campaign_id = #{campaignId,jdbcType=INTEGER},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinaredstar.cms.api.model.CmsCampaignMarket">
    update cms_campaign_market
    set campaign_id = #{campaignId,jdbcType=INTEGER},
      market_id = #{marketId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="find" parameterType="com.chinaredstar.cms.api.vo.campaign.CampaignMarketQueryVo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cms_campaign_market
    where 1=1
    <if test="campaignId != null">
      and campaign_id = #{campaignId}
    </if>
    ORDER BY sequence ASC
  </select>



</mapper>